html {
    height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    height: 100%;
    min-width: 1080px;
    min-height: 725px;
    background-repeat: no-repeat;
    background-size: cover;
}

.layui-form {
    position: absolute;
    width: 35%;
    min-width: 380px;
    max-width: 520px;
    left: 350px;
    top: 250px;
    z-index: 20;
}

#input-div {
    width: calc(100% - 130px);
    min-width: 250px;
    margin-right: 0px;
}

#input-box {
    border-style: none;
    padding-left: 15px;
    border-radius: 0;
}

#search-box {
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: white;
}

#field {
    /* 字段选择的大框 */
    width: 88px;
    margin-right: 0px;
}

.layui-input {
    /* 字段选择的小框 */
    border-width: 0 1px 0 0;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(200, 200, 200);
}

.layui-form-select dl dd.layui-this,
.layui-nav-tree .layui-nav-bar {
    /* 主题颜色 */
    background-color: #0E86E2;
}

#search-box button {
    /* 搜索按钮 */
    border-style: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 0;
    width: 42px;
}

#nav {
    position: absolute;
    width: 200px;
    height: 100%;
    min-height: 725px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
}

#nav li * {
    margin-left: 5px;
    font-size: 15px;
}

.focus_ovr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 10;
    opacity: 0.5;
}

.card {
    float: left;
    position: relative;
    width: 240px;
    height: 310px;
    margin: 0 30px 30px 0;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.card__flipper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card__front,
.card__back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 10px;
}

.card__front {
    cursor: pointer;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2;
    overflow: hidden;
    width: 220px;
    height: 310px;
    background-color: white;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0 0 8px #666666;
}

.card__back {
    -webkit-transform: rotateY(180deg) scale(1);
    transform: rotateY(180deg) scale(1);
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 500px;
    line-height: 20px;
}

/* 
@media (max-width: 700px) {
    .card {
        width: 100%;
        height: 290px;
        margin-right: 0;
        float: none;
    }
    .card .card__front,
    .card .card__back {
        height: 290px;
    }
} */