html {
    height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    height: 100%;
    min-width: 1080px;
    min-height: 725px;
    background-repeat: no-repeat;
    background-size: cover;
}

.layui-form {
    position: absolute;
    width: 35%;
    min-width: 380px;
    max-width: 520px;
    left: 350px;
    top: 250px;
    z-index: 20;
}

#input-div {
    width: calc(100% - 130px);
    min-width: 250px;
    margin-right: 0px;
}

#input-box {
    border-style: none;
    padding-left: 15px;
    border-radius: 0;
}

#search-box {
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: white;
}

#field {
    /* 字段选择的大框 */
    width: 88px;
    margin-right: 0px;
}

.layui-input {
    /* 字段选择的小框 */
    border-width: 0 1px 0 0;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(200, 200, 200);
}

.layui-form-select dl dd.layui-this,
.layui-nav-tree .layui-nav-bar {
    /* 主题颜色 */
    background-color: #0E86E2;
}

#search-box button {
    /* 搜索按钮 */
    border-style: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 0;
    width: 42px;
}

#nav {
    position: absolute;
    width: 200px;
    height: 100%;
    min-height: 725px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
}

#nav li * {
    padding-left: 30px;
    font-size: 15px;
}

.search-result {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
}

.book-list {
    display: inline-block;
    width: 100%;
    font-size: 13px;
}

.book-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
}

.book-img img {
    width: 200px;
    height: 200px;
}

#detail-img {
    margin: 15px auto 0 auto;
}

.book-name {
    margin: 20px 0 10px 0;
}

.card__front .book-name {
    /* 只显示2行 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book-author,
.book-id {
    margin-bottom: 10px;
}

.book-press {
    color: grey;
}

.category-lable {
    margin-bottom: 10px;
    font-size: 13px;
    visibility: visible;
}

.book-discription {
    margin: 14px 0 10px 0;
    color: navy;
}

.buttons {
    margin: 10px 10px 10px 10px;
}

.buttons button {
    display: inline-block;
    width: 80px;
    margin: 0 10px 0 10px;
    padding: 0 11px 0 11px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.close-btn button {
    border-style: none;
    width: 34px;
    height: 34px;
    padding: 0;
}

.close-btn button .layui-icon {
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 28px;
}

.focus_ovr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 10;
    opacity: 0.5;
}

.card {
    float: left;
    position: relative;
    width: 242px;
    height: 342px;
    margin: 0 30px 30px 0;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.card__flipper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    
}

.card__front,
.card__back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
 
}

.card__front {
    cursor: pointer;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2;
    overflow: hidden;
    width: 210px;
    height: 310px;
    background-color: white;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0 0 8px #666666;
    padding: 15px 15px 15px 15px;
}

.card__back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 330px;
    line-height: 20px;
    padding: 15px 20px 15px 20px;
}

@media (max-width: 700px) {
    .card {
        width: 100%;
        height: 290px;
        margin-right: 0;
        float: none;
    }
    .card .card__front,
    .card .card__back {
        height: 290px;
    }
}